# Environments
.env
*.env
venv/
node_modules/
.venv

# Python
__pycache__/
*.pyc

# Next.js
.next/
out/

# Firebase
.firebase/
backend/serviceAccountKey.json
*.json_secret

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

.vercel
.env*.local
