@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1A1A1A;
  background: #FAFAFA;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #CBD5E1;
  border-radius: 20px;
}

.login-card {
  @apply bg-white shadow-[0_8px_30px_rgb(0,0,0,0.04)] border border-gray-100;
}
